body{
    padding:2vw;
    font-family: Arial, Helvetica, sans-serif;
}
#list{
    position:absolute;
    transform: translate(0%, -50%);
    top:50vh;
    /* margin-top:110px; */
}
.button{
    position: relative;
    /* background-color: #2FC7FA; */
    background-color: #9b9b9b;
    opacity:0.5;
    border: none;
    border-radius:  8px;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* width: 10vw; */
    margin-top:5px;
  }
.button:hover{
    opacity:0.7;
    color:black;
  }

#poem{
    position:absolute;
    transform: translate(-50%, -50%);
    top:50vh;
    left:50vw;
    width:55vw;
    font-size: 3vw;
}
#a{
    color:rgb(207, 93, 75);
}
#b{
    color:rgb(81, 219, 75);
}
#c{
    color:rgb(225, 75, 75);
}
#d{
    color:rgb(119, 171, 75);
}
#e{
    color:rgb(201, 99, 75);
}
#f{
    color:rgb(219, 81, 75);
}
#g{
    color:rgb(201, 171, 75);
}
/* Based on line length*/